.quote {
    border: 1px solid grey;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 8px;
}

.Button {
    background: grey;
    color: #fff;
    font-size: 13px;
    border: 1px solid #fff;
    border-radius: 7px;
    padding: 5px 15px;
    margin-top: 8px;
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 6px;
    text-decoration: none;
}

.Button:hover {
    background: cadetblue;
}

.quoteMessage {
    font-size: 20px;
}