.navigation {
    display: block;
}

.navigation ul {
    list-style: none;
}

.navigation li {
    display: inline-block;
    margin-left: 40px;
}

.navigation ul li a {
    color: grey;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 2;
}

.navigation ul li a:hover {
    color: orange;
}
