.leftMenu li {
    list-style: none;
    margin-bottom: 25px;
}

.leftMenu li a {
    text-decoration: none;
    text-transform: uppercase;
    color: dimgrey;
    font-weight: bold;
}

.leftMenu li a:hover {
    color: cadetblue;
}