.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.block {
    border: 2px solid grey;
    max-width: 600px;
}

.header {
    display: flex;
    border: 2px solid gray;
    max-width: 596px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 5px;
}

.quotesCentral {
    color: grey;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    margin-right: 100px;
}

.mainPage {
    display: flex;
}

.leftMenu {
    flex: 1;
}

.quotes {
    flex: 2;
}